# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
# Virtual env
venv/
.venv/
env/
ENV/
# Secrets
.env
.env.*
# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
# DB lokal (opsional)
*.db
*.sqlite
